{% extends "base.html" %}

{% block content %}
    <h1>Add a New Post</h1>
    <form method='post'> 
        <label>
            New Blog
            <input type="text" name='title' />
            <input type="textarea" rows="7" cols="20" name='body' />
        </label>
        <input type="submit" value='Submit' />
    </form>
    </hr>

    {% if blog|length == 0 %}
    <p>No blogs yet</p>
    {% else %}    

        <ul>
            {% for blog in blogs %}
            <li>{{blog.name}}
                <form method="POST" action="/delete-post" style="display:inline-block;">
                    <input type="hidden" name="blogid" value="{{blogid))" />
                    <input type="submit" value="Submit" />
                </form>
            </li>
            {% endfor %}
        </ul>
    

    {% endif %}

    </hr>

    <h2>Completed</h2>

    <ul>
        {% for blog in completed_blogs %}
        <li>{{blog.name}}</li>
        {% endfor %}
    </ul>

{% endblock %}