<!doctype html>
<html>
    <head>
        <title>My Blog</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>  
    <head>
        <title>Build A Blog</title>
        
        <!-- style link -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">



    </head>
    <nav>
        <ul id="user-account">
            <li>
        
                <a href="/index">Home</a>
                <a href="/blogs">All Blogs</a>
                <a href="/posts">Post a Blog</a>
                <a href="/signup">Signup</a>
            </li>
        </ul>
    </nav>
    <h1>blog users!</h1>
    <div class="col" align="right">
            <a href="/login">Login</a>

            <a href="/logout">Logout</a>
    </div>

    {% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}    
        <ul class=flashes>
        {% for category, message in messages %}
            <li class="{{ category  }}">{{message}}"</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
         
    {% block content %}
    {% endblock %}
    
</body>
</html>