<!doctype html>
<html>
    <head>
        <title>My Blog</title>
    </head>
<body>  
    <head>
        <title>Build A Blog</title>
        
        <!-- style link -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">



    </head>
    <nav>
        <a href="/index">Home</a>
        <a href="/blogs">Blogs</a>
        <a href="/posts">Post a Blog</a>
    </nav>
    <div class="col" align="right">
            <a href="/login">Login</a>

            <a href="/logout">Logout</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    
    {% block content %}
    {% endblock %}
    
</body>
</html>