{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col">
            
    </div>

    <div class="col">
        <br>
        <br>
        <h1>This is my Blogs Page</h1>
        <br>
        <br>
        <h3>Title: {{ title }}</h3>
        <br>
        <p class="user">Posted by: <a href="/blog?id={{post.id}}">{{ posts.owner.username  }}</a></p>
        <br>
        <p>Posts: {{ body }}</p>

        {% if posts != none %}
            {% for post in posts %}

            <h3>{{ posts.title }}</h3>
            <p>{{ posts.body }}</p>
            <p>{{posts.user}}</p>
            <br>

            {% endfor %}
        {% endif %}
    </div>

    <div class="col">
    </div>
</div>

{% endblock %}