{% extends "base.html" %}

{% block content %}
      <div class="all blogs">

        <h1>All Blog Posts</h1>

        <hr>
        {% for blog in blogs %}
        <form action="/individual">
            <tr>
                <td>
                    <label for= "blog_id"><b> {{ blog.title }} </b></label>
                    <input type= "submit"  name= "blog_title" value= "{{ blog.title }}"/>
                </td>
                <td> 
                    {{ blog.body }}
                </td>
                <td>
                        <p class="username"><a href="/blog?userid={{user.id}}">{{ user.username }}</a></p>
                </td>
            </tr>
        </form>
    {% endfor %}

          {% for post in posts %}
          <div class="post">

            <h2>{{ post.title }}</h2></p></a>
            <p class="body-text">{{ post.body }}</p>
            <p class="user">Posted by: <a href="/blog?userid={{post.owner_id}}">{{ post.owner.username }}</a></p>

          </div>
          {% endfor %}
      </div>
{% endblock %}