{% extends "base.html" %}

{% block content %}


    <h1>Build a Blog</h1>
 
    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}
    
        {% for blog in blogs %}
        <li>{{blog.name}}</li>
    
        <h1>Build a Blog</h1>
        <form method='post' action="/blog"> 
        <input type="hidden" name="blog.id" value="id" />
    
        <h2><a href="./blog?id={{id}}">{{blog.title}}</a></h2>
        <p>{{blog.body}}</p>

        {% endfor %}    

{% endif %}

{% endblock %}

