{% extends "base.html" %} {% block content%}


<head>
        <title>User Signup</title>
        <style type='text/css'>
              .error {
                    color: red;
                    float: right;
                }
        </style>
    </head>
    <body>
            
<form method="POST">
        <table>
            <tbody> 
                <h1>User Signup</h1>
                <br>
                <br>
                <tr>
                    <td>
                        <label for="username">Username</label>
                    </td>
                    <td>
                        <input type="text" name="username" value="{{username}}"/>
                        <span class="error">{{username_error}}</span>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td>
                        <input type="password" name="password"/>
                        <span class="error">{{password_error}}</span>
                    </td>
                </tr>
                <tr>
                </tr>
                    <td>
                        <label for="verify">Verify Password</label>
                    </td>
                    <td>
                        <input type="password" name="verify"/>
                        <span class="error">{{verify_error}}</span>
                    </td>
                <tr>
                </tr>
            </tbody>
        </table> 
        <input type="submit" value="Submit Query"/>
    </form>
    {% endblock %}