{% extends "base.html" %} 

{% block content%}


<head>
        <title>User Signup</title>
        <style type='text/css'>
              .error {
                    color: red;
                    float: right;
                }
        </style>
    </head>
    <body>
            
            <div class="row">
                    <div class="col">
                    </div>
                    <div class="col">
                        <br>
                        <br>
                        <h1>Please Signup</h1>
                        <br>
                        <br>
                        <form name="signup" method="post">
                            <input type="hidden">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">{{error}}</label>
                                <input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="Username">
                            </div>
                
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <input type="password" name="verify_password" class="form-control" id="exampleFormControInput1" placeholder="Verify Password">
                                </textarea>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Sign In">
                        </form>
                    </div>
                    <div
                        class="col">
                    </div>
                
            </div>
        </body>
    {% endblock %}
